<br/>
<h3>My stories:</h3>
<br/>
<% if @user.stories.count == 0 %>
  <h2>. . . no stories :(</h2>
<% else %>
  <div class="card-columns">
    <% @user.stories.reverse.each do |story| %>
      <% if story.category_id == 1 %>
        <%= render "categories/badstory", story: story %>
      <% else %>
        <%= render "categories/goodstory", story: story %>
      <% end %>
    <% end %>
  <% end %>
</div>
