<br/>
<h3><%= @user == current_user ? 'My' : @user.username %> stories:</h3>
<%= render "follow/follow_toggle" %>
<br/>
<% if @user.stories.count == 0 %>
  <h2>. . . no stories :(</h2>
<% else %>
  <div class="card-columns">
    <% @user.stories.reverse.each do |story| %>
      <% if story.category_id == 1 %>
        <%= render "categories/badstory", story: story %>
      <% else %>
        <%= render "categories/goodstory", story: story %>
      <% end %>
    <% end %>
  <% end %>
</div>
