<br/>
<h4><%= @user == current_user ? 'My' : @user.username %> stories: <%= render "follow/follow_toggle" %></h4>
<br/>
<% if @user.stories.count == 0 %>
  <h2>. . . no stories :(</h2>
<% else %>
  <div class="card-columns">
    <% @user.stories.reverse.each do |story| %>
      <% if story.category_id == 1
        @hlp_class = "primary"
      else
        @hlp_class = "danger"
      end %>
      <%= render "categories/single_story", hlp_class: @hlp_class, story: story %>
    <% end %>
  <% end %>
</div>
