<br/>
<div class="card-group single_story">
  <% if @story.category_id == 1 %>
    <%= render "categories/badstory_comments", story: @story, comments: @comments %>
  <% else %>
    <%= render "categories/goodstory_comments", story: @story, comments: @comments %>
  <% end %>
</div>
