<br/>
<div class="card-columns">
  <% if @story.category_id == 1 %>
    <%= render "categories/badstory_comments", story: @story %>
  <% else %>
    <%= render "categories/goodstory_comments", story: @story %>
  <% end %>
</div>
