<div class="row">
  <div class="col">
      <br>
      <h4>Today's <%= @category.name %> stories:</h4>
      <br>
  </div>
</div>

<div class="row">

  <div class="col-md-3">
    <div class="ranking">
      <%
      @category.id == 1 ? @hlp_class = "primary" : @hlp_class = "danger"
      %>
      <%= render "categories/ranking", hlp_class: @hlp_class %>
    </div>
  </div>

  <div class="col-md-9">
    <div class="card-columns">
      <% if Story.where(category_id: @category.id).count == 0 %>
        <h2>. . . no stories :(</h2>
      <% else %>
        <% Story.where(category_id: @category.id).reverse.each do |story| %>
          <% if story.category_id == 1
                @hlp_class = "primary"
              else
                @hlp_class = "danger"
              end %>
            <%= render "categories/single_story", hlp_class: @hlp_class, story: story %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
