<div class="container-fluid">
  <footer class="footer">
    <p>Made by Team Dogung:
      <a href="https://github.com/railsgirl">Paulina</a>,
      <a href="https://github.com/jjkazm">Jakub</a>,
      <a href="https://github.com/MrkKr">Marek</a>,
      <a href="https://github.com/MDrawc">Michal</a>
    </p>
  </footer>
</div>
